<mat-card class="calendar" #calendar>
  <mat-card class="calendar__navs">
    <div class="calendar__month-nav">
      <button mat-icon-button (click)="prevMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span
        >{{ currentDate.format("MMMM").toUpperCase() }}
        {{ currentDate.format("YYYY") }}</span
      >
      <button mat-icon-button (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </mat-card>
  <div class="calendar__month">
    <mat-card class="calendar__day-names">
      <div class="calendar__day-name" *ngFor="let name of namesOfDays">
        {{ name }}
      </div>
    </mat-card>
    <div class="calendar__weeks">
      <div class="calendar__week" *ngFor="let week of weeks">
        <ng-container *ngFor="let day of week">
          <div
            class="calendar__date"
            [ngClass]="{
              today: day.today,
              selected: day.selected
            }"
            (click)="selectDate(day)"
          >
            <div *ngFor="let one of day.events" class="eventContainer">
              <span
                [style.background-color]="one.color?.value"
                *ngIf="day.events?.length && !day.today"
                class="dayEvent"
              ></span>
            </div>
            <span class="calendar__number">{{ day.mDate.date() }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</mat-card>
<mat-card class="details" *ngIf="this.todayEvents.length">
  <mat-card-header>
    <mat-card-title>Events</mat-card-title>
    <mat-card-subtitle>{{ currentDate | date }}</mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngIf="this.todayEvents">
    <ng-container *ngFor="let today of this.todayEvents">
      <mat-card-content>
        <p>Title: {{ today.title }}</p>
        <p>
          Description:
          {{ today.description }}
        </p>
        <p>
          Start Date:
          {{ today.startDate.toMillis() | date }}
        </p>
        <p>
          End Date:
          {{ today.endDate.toMillis() | date }}
        </p>
        <!-- <p *ngIf="!todayEvents.length">No events today</p> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="editEvent(today)">
          EDIT
        </button>
        <button mat-flat-button color="warn" (click)="deleteEvent(today)">
          DELETE
        </button>
      </mat-card-actions>
    </ng-container>
  </ng-container>
</mat-card>

<button mat-fab color="primary" class="addButton" (click)="addEvent()">
  <mat-icon>add</mat-icon>
</button>
