.content {
  width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5%;
  > div {
    padding: 50px;
  }
}

.calendar {
  // position: absolute;
  // top: 0;
  // height: 100%;
  padding: 2px 0 0;
  width: 100%;
  background-color: #fff;
  //   box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1),
  //     0 4px 25px 0 rgba(0, 184, 178, 0.08);
  border-radius: 4px;
  z-index: 20;
  &__wrapper {
    position: relative;
    margin-bottom: 17px;
  }
  &__input-wrapper {
    width: 212px;
    position: relative;
    height: 36px;
    cursor: pointer;
  }
  &__input {
    width: 210px;
    height: 100%;
    outline: none;
    border: 2px solid #dddddd;
    border-radius: 2px;
    padding: 0 12px;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    color: #101820;
    cursor: pointer;
    box-sizing: border-box;
    &:focus,
    &:active {
      border-color: #007672;
    }
  }
  &__navs {
    background-color: #3f51b5;
  }
  &__nav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    &[disabled] {
      color: transparent;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  &__month-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    span {
      line-height: 1;
    }
  }
  &__year-nav {
    height: 100%;
    font-size: 10px;
    padding: 3px 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-family: OpenSans, sans-serif;
  }
  &__day-names {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    background-color: #5c6bc0;
    border-top: 1px solid #fff;
    padding: 0 5px;
  }
  &__day-name {
    color: #fff;
    font-family: OpenSans, sans-serif;
    font-size: 11px;
  }
  &__weeks {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #c5cae9;
  }
  &__week {
    display: flex;
    flex-direction: row;
    // margin: 2% 0;
  }
  &__date,
  &__day-name {
    text-align: center;
    padding: 3px;
    width: 14.29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__date {
    height: 4em;
    position: relative;
    &:after {
      content: "";
      height: 4em * 0.7;
      width: 4em * 0.7;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all 1s;
      z-index: 1;
    }
    &:hover {
      cursor: pointer;
      color: #fff;
      &:after {
        background-color: #3f51b5;
        box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.08);
        opacity: 0.6;
      }
    }
    &.disabled {
      pointer-events: none;
      color: #c0c0c0;
    }
    &.selected {
      color: #fff;
      &:after {
        background-color: #3f51b5;
        box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.18);
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
    &.today {
      font-weight: bold;
    }
  }
  &__number {
    z-index: 10;
    font-size: 1em;
    font-family: OpenSans, sans-serif;
  }
}

.icon_calendar {
  display: block;
  width: 17px;
  height: 20px;
  position: absolute;
}

.eventContainer {
  display: flex;
  flex-direction: column;
}

.dayEvent {
  position: relative;
  // left: 0.5em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  // background-color: blue;
  z-index: 50;
  margin: 0 10px;
}

.addButton {
  position: fixed;
  right: 1em;
  bottom: 1em;
}

// .details {
//   height: 100%;
// }
