<h2 mat-dialog-title>Delete Event</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Are You Sure you want to delete <strong>{{ data.title }}</strong> event?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="deleteEvent()"
    color="warn"
  >
    Yes
  </button>
</mat-dialog-actions>
